{% extends "./layouts/main.twig" %}
{% import './layouts/macros.twig' as macros %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Редактировать категорию</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('category.index') }}">Категории</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('category.show', { 'category': categoryCurrent.id }) }}">
                                {{ categoryCurrent.title }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Редактирование</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form id="quickForm" novalidate="novalidate"
                      action="{{ url_for('category.update', { 'category': categoryCurrent.id }) }}" method="post">

                    <div class="form-group">
                        <label for="currentCategory">Текущая категория</label>
                        {{ csrf_field() | raw }}
                        <input type="hidden" name="_METHOD" value="PATCH">
                        <input type="text" name="title" class="form-control" placeholder="Ввести категорию"
                               id="currentCategory" value="{{ categoryCurrent.title }}">
                    </div>

                    <div class="form-group">
                        <label for="parentCategory">Родительская категория</label>
                        <select name="parent_id" aria-invalid="false" class="custom-select form-control-border"
                                id="parentCategory" required>
                            <option disabled selected>Выбрать категорию:</option>
                            <option value="0">Новая категория</option>
                            {{ macros.renderCategoryOptions(categories, 0, categoryCurrent) }}
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Изменить">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}