{% extends "./layouts/main.twig" %}
{% import './layouts/macros.twig' as macros %}

{% block content %}


    {% if error %}
        <div class="card-body">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Ошибка!</h5>
                {{ error }}
            </div>
        </div>
    {% endif %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Добавить продукт</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('user.index') }}">Продуты</a></li>
                        <li class="breadcrumb-item active">Добавление</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <form action="{{ url_for('product.store') }}" method="post"
                      id="product-form" enctype="multipart/form-data" novalidate="novalidate">
                    {#                    {{ csrf_field() | raw }} #}

                    <div class="form-group card-outline card-gray">
                        <input type="text" name="article" class="form-control"
                               placeholder="Введите артикул" value="{{ old.article }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="brand" class="form-control"
                               placeholder="Введите название товара" value="{{ old.title }}">
                    </div>

                    <div class="form-group card-outline card-gray">
                        <input type="text" name="new_price" class="form-control"
                               placeholder="Введите актуальную цену" value="{{ old.article }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="old_price" class="form-control"
                               placeholder="Введите старую цену" value="{{ old.article }}">
                    </div>

                    <div class="form-group">
                        <input type="number" name="count" class="form-control"
                               placeholder="Введите количество" value="{{ old.article }}">
                    </div>

                    <div class="form-group">
                        <select name="category_id" aria-invalid="false" class="custom-select form-control-border">
{#                                                            required> #}
                            <option value="" selected>Выбрать категорию:</option>

                            {{ macros.renderCategoryOptions(categories) }}
                        </select>
                    </div>


{#                    <div class="form-group">#}
{#                        <div class="select2-purple">#}
{#                            <select name="tags[]" class="tags" multiple="multiple" data-placeholder="Выбрать тег(и)"#}
{#                                    data-dropdown-css-class="select2-purple" style="width: 100%;">#}
{#                                {% for tag in tags|default([]) %}#}
{#                                    #}{#                                    <option {{ old.roles_id == role.idRole ? ' selected' : '' }} #}
{#                                    <option value="{{ tag.id }}">{{ tag.title }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="form-group">
                        <div class="select2-purple">
                            <select name="colors[]" class="colors" multiple="multiple"
                                    data-placeholder="Выбрать цвет(а)"
                                    data-dropdown-css-class="select2-purple" style="width: 100%;">
                                {% for color in colors|default([]) %}
                                    <option value="{{ color.id }}">{{ color.code }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" name="colors[]" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="description" id="summernote"></textarea>
                    </div>

{#                    <div class="form-group">#}
{#                        <div class="btn btn-default btn-file">#}
{#                            <i class="fas fa-paperclip"></i> Загрузка главного изображения#}
{#                            <input type="file" name="preview_image" id="fileInput">#}
{#                        </div>#}
{#                        <div id="fileInfo" class="file-info"></div>#}
{#                    </div>#}

{#                    <div class="form-group">#}
{#                        <div id="my-dropzone" class="dropzone"></div>#}
{#                    </div>#}

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success badge-pill">Добавить</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
{% endblock %}

