{% extends "./layouts/main.twig" %}

{% block content %}


    {% if error %}
        <div class="card-body">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Ошибка!</h5>
                {{ error }}
            </div>
        </div>
    {% endif %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Добавить пользователя</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('user.index') }}">Пользователи</a></li>
                        <li class="breadcrumb-item active">Добавление</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form id="quickForm" novalidate="novalidate"
                      action="{{ url_for('user.store') }}" method="post">
                    {{ csrf_field() | raw }}

                    <div class="form-group">
                        <input type="email" name="email" class="form-control"
                               placeholder="Введите email" value="{{ old.email }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="password" class="form-control"
                               placeholder="Введите пароль" value="{{ old.password }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="password_confirmation" class="form-control"
                               placeholder="Повторите пароль" value="{{ old.password_confirmation }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="name" class="form-control"
                               placeholder="Введите имя" value="{{ old.name }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="address" class="form-control"
                               placeholder="Введите адрес" value="{{ old.address }}">
                    </div>

                    <div class="form-group">
                        <select name="roles_id" class="custom-select form-control-border">
                            <option disabled selected>Выбрать роль:</option>

                            {% for role in roles %}
                                <option {{ old.roles_id == role.idRole ? ' selected' : '' }}
                                        value="{{ role.idRole }}">{{ role.nameRole }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}