{% extends "./layouts/main.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Пользователь</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('user.index') }}">Пользователи</a></li>
                        <li class="breadcrumb-item active">{{ user.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex p-3">
                            <div class="mr-3">
                                <a href="{{ url_for('user.edit', { 'user': urlParam }) }}"
                                   class="btn btn-success">Редактировать</a>
                            </div>

                            <form action="{{ url_for('user.delete', { 'user': urlParam }) }}" method="post">
{#                                {{ csrf_field() | raw }}#}
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" class="btn btn-danger" value="Удалить">
                            </form>
                        </div>

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    {% for field in fields %}
                                        <th>{{ field }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in user %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.address }}</td>
                                        <td>{{ item.rolesId }}</td>
                                        <td>{{ item.isEmail }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

{#                                <tbody>#}

{#                                {% for key, value in user %}#}
{#                                    <tr>#}
{#                                        <th>{{ fields[key] }}</th>#}
{#                                        <td>{{ value }}</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}

{#                                </tbody>#}
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}